extends layout

block content

  h1 Restaurant: #{coupon.restaurant.name}
  
  p #[strong Description:] #{coupon.description}
  if coupon.mobile
    p Mobile Coupon
  else
    if coupon.deal_url
      a(href=coupon.deal_url) Link to deal
    if coupon.code
      p Promo Code: #{coupon.code}
  p #[strong Date Added:] #{coupon.date_added_formatted}
  p #[strong Expiration Date:] #{coupon.date_expired_formatted}
  p #[strong Status:] #{coupon.status}
  
  p
  if (user)
    form(method='POST' action=coupon.url + '/vote')
      input(type='hidden', name='direction', value=1)
      button.btn.btn-success(type='submit') #{upVote}
      
    form(method='POST' action=coupon.url + '/vote')
      label(for='downvote')
      input(type='hidden', name='direction', value=0)
      button.btn.btn-danger(type='submit') #{downVote}
      

  p
  if (user && user.id == coupon.user._id)
    a(href=coupon.url+'/delete') Delete Coupon
    br
    a(href=coupon.url+'/update') Update Coupon