extends layout

block content
  h1= title
    
    h4
    ul
      each val in coupon_list
          hr
          p #[strong Restaurant:] #{val.restaurant.name}
          p #[strong Description:] #{val.description}
          p #[strong Date Added:] #{val.date_added_formatted}
          p #[strong Expiration Date:] #{val.date_expired_formatted}
          p #{val.status}
          a(href=val.url) #[strong Details]
          p
          hr
      else
       p There are no coupons at this time.
  