extends layout

block content

  h1 Restaurant: #{coupon.restaurant.name}
  
  p #[strong Description:] #{coupon.description}
  if coupon.mobile
    p Mobile Coupon
  else
    p Promo Code: #{coupon.code}
  p #[strong Date Added:] #{coupon.date_added_formatted}
  p #[strong Expiration Date:] #{coupon.date_expired_formatted}
  p #{coupon.status}
  
  p
  a(href=coupon.url+'/delete') Delete Coupon
  p
  a(href=coupon.url+'/update') Update Coupon