extends layout

block content

    h1 #{restaurant} locations
    
    style.
      #map {
        width: 100%;
        height: 500px;
        }
        
    Location (e.g. Address, city, or zip code)
    form(method='GET' action='')
      input(type='text', required='true', name='user_location')
      p
      button.btn(type='submit') Search
    
    <p>
    
    #map
    
    if errors 
      ul
        for error in errors
          li!= error.msg
    
    script.
      function initMap() {
        var loc = !{JSON.stringify(locations)};
        var map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 14,
            center: { lat: #{lat}, lng: #{lng} }
        });
          
        var bounds = new google.maps.LatLngBounds();
        
        for (var i = 0; i < loc.length; i++){
          var l = loc[i];
          
          var image = {
          url: l.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };
          
          let marker = new google.maps.Marker({
          map: map,
          icon: image,
          title: l.name,
          position: l.geometry.location,
          });
          
          let contentString = '<h1 id="heading" class="heading">'+ l.name + '</h1>' + 
          '<div id = "bodyContent">' + 
          '<p><b> Name: </b>' + l.name + '</p>' +
          '<p><b>Address: </b>' + l.formatted_address + '</p>' +
          '</div>';
          
          bounds.extend(l.geometry.location);
          map.fitBounds(bounds);
          
          var infowindow = new google.maps.InfoWindow();  

          marker.addListener('click', function() {
            infowindow.setOptions({content: contentString});
            infowindow.open(map, marker);
          });
        }
      }
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    
    script(async defer src='https://maps.googleapis.com/maps/api/js?v=3&key=' + google_maps_api_key + '&callback=initMap')

        