extends layout

block content

  h1 Account Info
  
  if (user.email)
    p #[strong Email:] #{user.email}
  
  h3 Submitted coupons
  
  each val in coupon_list
        p #[strong Restaurant:] #{val.restaurant.name}
        p #[strong Description:] #{val.description}
        p #[strong Date Added:] #{val.date_added_formatted}
        p #[strong Expiration Date:] #{val.date_expired_formatted}
        p #{val.status}
        a(href=val.url) #[strong Details]
        p
        hr
  
  div(style='margin-top:30px')
  
  h3 Favorite restaurants
  
  each val in restaurants
    p
    a(href=val.url) #[strong #{val.name}]
  
  div(style='margin-top:30px')
  
  p
  form(method='POST' action='/changepwd')
    div.form-group
      label(for='newPassword') New password:
      input#newPassword.form-control(type='password' name='newPassword')  
    div.form-group
      label(for='newPassword2') Confirm new password:
      input#newPassword2.form-control(type='password' name='newPassword2')

    button.btn.btn-primary(type='submit') Confirm
  
  p
  p #[strong #{msg}]
    
  p
  a(href='/logout') Logout
  p