extends layout
include ./mixins/coupon_list_mixin

block content
  h1 #{restaurant.name}
  if restaurant.site
    p #[strong Site:] #{restaurant.site}
  p #[strong Mobile App:] #{restaurant.mobile}
  
  div(style='margin-top:20px')
    h4 Coupons:
    +couponList(coupon_list, pref, expiredPref, sortByPrefs, restaurant.url)
    
  a(href=restaurant.url+'/locations') Find nearest location
  
  Location (e.g. Address, city, or zip code)
    form(method='GET' action=restaurant.url+'/locations')
      input(type='text', required='true', name='user_location')
      button.btn-primary(type='submit')
  
  if (user)
    form(method='POST' action=restaurant.url + '/fav')
      input(type='hidden', name='id', value=restaurant.id)
      button.btn.btn-primary(type='submit') #{favOption}
    
  p
  if (user && user.admin)
    a(href=restaurant.url+'/delete') Delete restaurant
    br
    a(href=restaurant.url+'/update') Update restaurant