mixin comments(comment_list, user)
  h4 Comments:
  each comment in comment_list
    hr
    p #{comment.date_added_formatted}
    p #[strong User:] #{comment.username}
    p #{comment.message}
    p Votes: #{comment.upvotes()}
    if (user)
      if (comment.upvoted(user.id))
        button(class='btn btn-success btn-xs' onclick='vote("'+comment.id+'")') Marked helpful
      else
        button(class='btn btn-default btn-xs' onclick='vote("'+comment.id+'")') Mark helpful
        
      if (user.id == comment.user)
        form(method='POST' action='/comment/delete')
          input(type='hidden', name='comment_id', value=comment.id)
          button.btn.btn-danger.btn-xs(type='submit') Delete comment
  else
    p There are no comments at this time.
  
  hr
  
  if !(user)
    p Please 
      a(href='/login') login
      |  to vote and comment
    
  if (user)
    form(method='POST' action='/comment/' + coupon.id  style={width:'100%'})
      textarea(type='text', rows='3', placeholder='Enter a new comment' required='true'  name='new_comment')
      
      button.btn.btn-success(
      type='submit'
      style='margin-left: 5px; margin-bottom: 10px;') Submit
  
  script.
    let vote = (function(commentID) {
        $.ajax({
          type:'POST',
          url: '/comment/vote',
          data: { comment_id: commentID },
          success: function(data){
            toastr.success(data);
          },
          error: function(jqXHR, textStatus, err){
            alert('Status ' + textStatus + 'Err ' + err)
          },
        });
    });
    
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js')
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')